
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}



.card {
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  display: grid;
  transition: all .5s ease; /* back to normal */
}


.card:hover {
  transform: translate3D(0,-1px,0) scale(1.03); /* move up slightly and zoom in */
  box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
  transition: all .4s ease; /* zoom in */
  cursor: pointer;
}

p.Getting-started {
  font-size: x-large;
}